html{
    font-size: 62.5%;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.7;
    color: black;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
