
.page_error{
    display: flex;
    justify-content: center;
}

.error_img img{
    width: 100%;
}

.error_Block-content{
    margin: auto 0;
}

.error_content h2{
    font-size: 90px;
    font-weight: 600;
}

.error_content h4, .error_content p{
    font-weight: 600;
}

